<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="lendabook.Properties.Settings.ConnectionString" connectionString="Data Source=Travelmate;Persist Security Info=True;User ID=orcl;Password=helloviraj;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="lendabook.Properties.Settings.databaseConnectionString"
            connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=database"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
